{
    "root": true,
    "parserOptions": {
        "parser": "babel-eslint",
        "sourceType": "module"
    },
    "extends": [
        "@nuxtjs",
        "prettier",
        "prettier/vue",
        "plugin:prettier/recommended",
        "plugin:nuxt/recommended"
    ],
    "plugins": ["prettier"],
    "rules": {
        "vue/max-attributes-per-line": "off",
        "template-curly-spacing": "off",
        "indent": "off"
    }
}
