.login-btn-wraaper {
  padding: 0.5rem;
}

.other-page-link-wrapper {
  background-color: rgba(#fff, 0.8);
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;

  a.other-page-link {
    color: #000;
    font-size: 20px;
  }
}
