// Background
$background-page-header: #eef2f7;

// Font Color
$font-color-light-navy: #2b3360;

// v-card
$card-text-font-size: 1rem;
// v-list
$list-item-title-font-size: 1rem;

@import "~vuetify/src/styles/styles.sass";
