.page-tab-box {
  position: relative;
  padding: 0.5rem 1rem;
  margin: 2rem 0 1rem;
  border: solid 3px #ccc;
  border-radius: 5px;
}

.page-tab-box-title {
  position: absolute;
  display: inline-block;
  top: -0.75rem;
  left: 0.5rem;
  padding: 0 0.5rem;

  background: #fff;
  color: #333;

  line-height: 1;
  font-size: 1.2rem;
  font-weight: bold;
}

.page-tab-box-content {
  padding: 1rem 0.25rem 0;
  margin-bottom: 0;
}
