.pages-user-header {
  position: relative;
}

.pages-user-header-content {
  position: absolute;
  left: 50%;
  bottom: 0;

  transform: translateY(60%) translateX(-50%);
  -webkit-transform: translateY(60%) translateX(-50%);
}

.pages-user-header-avatar {
  border: 1px solid #777;
  background-color: lightseagreen;
  font-size: 3rem;
}
