.login-container {
  background-color: #fff;
  background-image: url("~assets/img/ArchiWalk_background.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.login-form {
  background-color: rgba(#fff, 0.8);
}

.login-form-title {
  padding: 1rem;
}

.login-btn-wraaper {
  padding: 0.5rem;
}

.other-page-link-wrapper {
  background-color: rgba(#fff, 0.8);
  padding: 0.5rem 2rem;

  a.other-page-link {
    color: #000;
    font-size: 20px;
  }
}
